---
import Picture from 'astro/components/Picture.astro';

import heroImg from '@/assets/hero.png';
import bgImage from '@/assets/hero-bg.webp';
import { heroDescription } from '@/data/js/hero.js';
// import Stats from './Stats.astro';
---

<section
  id="hero-section"
  class="relative mb-8 bg-cover bg-center bg-no-repeat md:mb-0"
  style={`background-image: url(${bgImage.src});`}
>
  <div class="maxwidth mx-auto flex flex-col-reverse items-center px-8 pt-8 lg:flex-row lg:py-10">
    {/* <Stats /> */}
    <div class="mb-6 sm:text-justify lg:max-w-2/3">
      <h1 class="heroDetail mb-2 text-left" set:html={heroDescription.description} />
      <div>
        <div class="flex flex-col gap-x-40 md:flex-row">
          <ul class="ml-4 list-outside list-disc text-white">
            {
              heroDescription.listItem
                .slice(0, -1)
                .map((item, idx) => (idx % 2 == 0 ? <li class="py-1" set:html={item} /> : ''))
            }
          </ul>
          <ul class="ml-4 list-outside list-disc text-white">
            {heroDescription.listItem.map((item, idx) => (idx % 2 != 0 ? <li class="py-1" set:html={item} /> : ''))}
          </ul>
        </div>
        <div class="mx-auto">
          <ul class="ml-4 list-outside list-disc text-white">
            <li class="py-1" set:html={heroDescription.listItem.slice(-1)} />
          </ul>
        </div>
      </div>
    </div>
    <Picture src={heroImg} alt="Hero Image" class="mx-auto hidden rounded-4xl md:block" />
  </div>
  <div class="maxwidth text-center lg:pb-30">
    <p set:html={heroDescription.bottomTag} />
  </div>
</section>

<style>
  @reference "tailwindcss";

  .heroHeadline {
    @apply leading-12;
  }
  .heroDetail {
    @apply text-lg font-medium text-white;
  }
  p {
    @apply text-2xl py-1.5 text-shadow-lg text-white font-bold;
  }
</style>
